head {
	background-color: #3C3C3C;
}

header {
	background-image: url("https://i.imgur.com/cuW9x52.jpg")
}

body {
	font-family: Arial;
	background-color: rgba(0, 200, 125, 0.1);
	
}


.content {
	background-color: rgba(45, 45, 45, 0.1);
	width: 1000px;
	padding: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}